body {
	/*
		Used to have a grad. here, got feedback to try without, im not really too fussed.
		Yes i know it defaults to white, but if i leave the line in, i'll know i didnt forget
	*/
	background-color:#fff;
} 

.paddbase { padding:10px; } 
.paddbase .paddbase { padding-left:0; padding-right:0; }
.container {
	margin: 0 auto;
    max-width: 1120px;
    padding: 28px 0 34px;
    position: relative;
	text-align:left; 
}


.container .col {
    display: inline;
    float: left;
    line-height: 1.5em;
    margin-right: 2%;
    width: 49%;
}


.container .col.last {
    margin-right: 0;
}

.container p {
    padding: 0 0 12px;
}


.overlay {  
	background: rgb(0, 25, 83);
	background: rgba(0, 25, 83, 0.5);
	border-radius:3px;
	color:#fff; 
}

.overlay a { color:#dedede; } 


hr {  height:1px; width:100% ; background-color:#000; border:0; margin:15px 0; position:relative; }
hr:after { height:1px; background-color:#c0c0c0; width:100%; content:""; display:block; top:1px; position:relative;  }

@media screen and (max-width: 643px) {
	.container .col {margin-bottom:15px; width:100%;float:none;display:block;margin-right:0%;}
	
}